/* Utility  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
html {
    font-family: 'Fredoka', sans-serif;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
}
/* Header  */
h1 {
    color: rgb(230, 50, 111);
    text-align: center;
    padding: 20px;
}
#text {
    text-align: center;
    padding: 30px 0;
}

/* Card Section  */
.box {
    height: 100px;
    margin: 20px 25px 20px 0px;
    background-color: rgb(15, 14, 23);
    width: calc((100% - 50px) / 3);
    float: left;
    box-shadow: 1px 1px 4px 3px lightgray;
}
.right {
    float: right;
    margin: 20px 0 20px 25px;
}
.mid {
    float: left;
    margin: 20px 0px;
}

/* Inside box  */
img {
    width: 120px;
    height: 100px;
    padding-right: 15px;
    float: left;
}
h3, .job {
    color: white;
    padding: 5px; 
}

.mail {
    color: rgb(73, 173, 213);
    padding: 5px;
}